@import "variables";
@font-face {
    font-family: "roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
}
@font-face {
    font-family: "rosario";
    src: url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,300&display=swap');
}
/*start minix*/
@mixin text($color,$fontSize,$paddingTop,$paddingleft,$fontWeight){
    color: $color;
    font-size: $fontSize;
    padding:$paddingTop $paddingleft;
    font-weight: $fontWeight;
}
@mixin listStyle(){
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:start;
}
/*end minix*/


/* all element*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
}
/* end all element*/

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    min-height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*start header*/
#header{
    width: 68%;
    height: auto;
    .nav-bar{
        height: 6rem;
        background-color: $light-blue;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h1{
            @include text($white,$textSize*1.2,2rem,2rem,100);
            font-family: "rosario";
        }
        i{
            @include text($white,$textSize,1rem,1rem,100);
        }
    }
    .nav-image{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        width: 100%;
        height: 600px;
        background-image: url('../image/hero.jpg');
        background-position: center;
        background-size: cover;   
        background-repeat: no-repeat;
        h1{
            @include text($white,$textSize*2.1,2rem,5rem,100);
            font-family:"roboto";
            text-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
        }
        button{
            width: 129px;
            height: 40px;
            @include text(#000000,$textSize,0rem,0rem,100);
            margin-left: 20rem;
            border:none;
            outline: none;
            border-radius: 0px 20px;
            font-family:"roboto";
            box-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
        }
    }
}


/*end header*/


/*start main part*/
#main{
    width:68%;
    height: 1070px;
    background-color: $milky;
    .title{
        @include text($gray,$textSize*1.5,1rem,0,100);
        font-family:"rosario";
        text-align: center;
    }
    .image-list{
        width: 80%;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        margin: 1rem auto;
        .image-list-item{
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            list-style: none;
            background-position: center;
            background-size: cover;
            span{
                @include text($white,$textSize*1.2,2rem,1rem,600);
                font-family:"roboto";
            }
        }
    }
    .picture{
        width: 85%;
        height:300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-image: url('../image/b.jpg'),linear-gradient(rgba(0,0,0,0.8),rgba(100,100,100,0.9)) ;
        background-position: center;
        background-size: cover;
        margin:1.5rem auto;
        h1{ 
            @include text($light-gray,$textSize*1.5,0.3rem,2rem,900);
            font-size:"roboto";
        }
        span{ 
            @include text($light-gray,$textSize*0.5,0.3rem,2rem,900);
            font-size:"roboto";
        }
        button{
            width: 75px;
            height: 30px;
            margin:1rem 1.5rem;
            font-family: roboto;
            @include text($black,$textSize*0.5,0,0,100);
            border: none;
            outline: none;
            border-radius: 15px; 
            cursor: pointer; 
        }
    }
    .card-container{
        width:96%;
        height: 400px;
        margin:5px auto;
        background-color: $milky;
        .card-title{
            @include text($light-gray,$textSize*1.5,2rem,2rem,100);
            font-family:'rosario'
        }
        .card-list{
            width: inherit;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .card-list-item{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                list-style: none;
                width: 310px;
                height: 330px;
                border: 1px solid #2C3A47;
                position: relative;
                .card-like{
                    width: 28px;
                    height: 28px;
                    border-radius: 100px;
                    position: absolute;
                    background-color: $white;
                    right: 5px;
                    top:5px;
                    cursor: pointer;
                    transition: all 1s ease ;
                    &:hover{
                        background-color: $light-red;
                    }
                    i{
                        line-height:28px;
                        display: block;
                        margin: 2px 3px;
                        font-size: 20px;
                    }
                }
                .card-img{
                    width: 309px;
                    height: 250px;
                    border-bottom: 1px solid #2C3A47;
                    margin: 0 0;
                }
                .card-txt{
                    width: 309;
                    height: 77px;
                    text-align: center;
                    background-color: $light-yellow;
                    font-size: 1.5rem;
                    padding: 1rem;
                    font-family:"roboto";
                    
                }
            }
        }
    }
}

/*end main part*/


/*start footer part*/
#footer{
    width: 68%;
    height: 120px;
    background-color:$milky;
    margin-top: 2rem;
    .list-container{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        margin: 20px 0;
        border-top: 1px solid $light-blue;
        .link-list{
            width: 70%;
            @include listStyle();
            .link-list-item{
                width:auto;
                font-size: 1.7rem;
                font-family: 'rosario';
                font-weight: bold;
                margin-top: 20px;
                margin-right: 10px;
                margin-left:5px ;
                cursor: pointer;
            }
        }
            .social-link-list{
                width: 30%;
                @include listStyle();
                .social-link-item{
                    width:auto;
                    margin-top: 20px;
                    margin-right: 10px;
                    margin-left:2px ;
                    font-size: 1.8rem;
                    a{
                        text-decoration: none;
                        color:$light-blue;
                        font-family: 'rosario';

                    }
                    i{
                        font-size: 2rem;
                        color: black;
                        cursor: pointer;
                    }
                }
        }
      
    }
    .footer-txt{
        font-family: "rosario";
        font-size: 1.25rem;
    } 
    
}


/*end footer part*/

@media only screen and (max-width: 1500px){
/*start header*/
    #header{
        width: 68%;
        height: auto;
        .nav-bar{
            height: 6rem;
            background-color: $light-blue;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h1{
                @include text($white,$textSize*1.2,2rem,2rem,100);
                font-family: "rosario";
            }
            i{
                @include text($white,$textSize,1rem,1rem,100);
            }
        }
        .nav-image{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content:center;
            width: 100%;
            height: 600px;
            background-image: url('../image/hero.jpg');
            background-position: center;
            background-size: cover;   
            background-repeat: no-repeat;
            h1{
                @include text($white,$textSize*1.5,2rem,5rem,100);
                font-family:"roboto";
                text-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
            }
            button{
                width: 129px;
                height: 40px;
                @include text(#000000,$textSize,0rem,0rem,100);
                margin-left: 20rem;
                border:none;
                outline: none;
                border-radius: 0px 20px;
                font-family:"roboto";
                box-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
            }
        }
    }
    
    
    /*end header*/
    
    
    /*start main part*/
    #main{
        width:68%;
        height: 1070px;
        background-color: $milky;
        .title{
            @include text($gray,$textSize*1.5,1rem,0,100);
            font-family:"rosario";
            text-align: center;
        }
        .image-list{
            width: 80%;
            display: flex;
            flex-direction:row;
            justify-content: space-around;
            margin: 1rem auto;
            .image-list-item{
                width: 200px;
                height: 250px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                list-style: none;
                background-position: center;
                background-size: cover;
                span{
                    @include text($white,$textSize*1.2,2rem,1rem,600);
                    font-family:"roboto";
                }
            }
        }
        .picture{
            width: 85%;
            height:300px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            background-image: url('../image/b.jpg'),linear-gradient(rgba(0,0,0,0.8),rgba(100,100,100,0.9)) ;
            background-position: center;
            background-size: cover;
            margin:1.5rem auto;
            h1{ 
                @include text($light-gray,$textSize*1.5,0.3rem,2rem,900);
                font-size:"roboto";
            }
            span{ 
                @include text($light-gray,$textSize*0.5,0.3rem,2rem,900);
                font-size:"roboto";
            }
            button{
                width: 75px;
                height: 30px;
                margin:1rem 1.5rem;
                font-family: roboto;
                @include text($black,$textSize*0.5,0,0,100);
                border: none;
                outline: none;
                border-radius: 15px; 
                cursor: pointer; 
            }
        }
        .card-container{
            width:96%;
            height: 400px;
            margin:5px auto;
            background-color: $milky;
            .card-title{
                @include text($light-gray,$textSize*1.5,2rem,2rem,100);
                font-family:'rosario'
            }
            .card-list{
                width: inherit;
                height: auto;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                .card-list-item{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    list-style: none;
                    width: 240px;
                    height: 330px;
                    border: 1px solid #2C3A47;
                    position: relative;
                    .card-like{
                        width: 28px;
                        height: 28px;
                        border-radius: 100px;
                        position: absolute;
                        background-color: $white;
                        right: 5px;
                        top:5px;
                        cursor: pointer;
                        transition: all 1s ease ;
                        &:hover{
                            background-color: $light-red;
                        }
                        i{
                            line-height:28px;
                            display: block;
                            margin: 2px 3px;
                            font-size: 20px;
                        }
                    }
                    .card-img{
                        width: 239px;
                        height: 250px;
                        border-bottom: 1px solid #2C3A47;
                        margin: 0 0;
                    }
                    .card-txt{
                        height: 77px;
                        text-align: center;
                        background-color: $light-yellow;
                        font-size: 1.5rem;
                        padding: 1rem;
                        font-family:"roboto";
                        
                    }
                }
            }
        }
    }
    
    /*end main part*/
    
    
    /*start footer part*/
    #footer{
        width: 68%;
        height: 120px;
        background-color:$milky;
        margin-top: 2rem;
        .list-container{
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            margin: 20px 0;
            border-top: 1px solid $light-blue;
            .link-list{
                width: 70%;
                @include listStyle();
                .link-list-item{
                    width:auto;
                    font-size: 1.7rem;
                    font-family: 'rosario';
                    font-weight: bold;
                    margin-top: 20px;
                    margin-right: 10px;
                    margin-left:5px ;
                    cursor: pointer;
                }
            }
                .social-link-list{
                    width: 30%;
                    @include listStyle();
                    .social-link-item{
                        width:auto;
                        margin-top: 20px;
                        margin-right: 10px;
                        margin-left:2px ;
                        font-size: 1.8rem;
                        a{
                            text-decoration: none;
                            color:$light-blue;
                            font-size: 1.5rem;
                            font-family: 'rosario';
    
                        }
                        i{
                            font-size: 2rem;
                            color: black;
                            cursor: pointer;
                        }
                    }
            }
          
        }
        .footer-txt{
            font-family: "rosario";
            font-size: 1.25rem;
        } 
        
    }
    
    
    /*end footer part*/
}

@media only screen and (max-width: 1162px){
        /*start header*/
            #header{
                width: 68%;
                height: auto;
                .nav-bar{
                    height: 6rem;
                    background-color: $light-blue;
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    h1{
                        @include text($white,$textSize*1.2,2rem,2rem,100);
                        font-family: "rosario";
                    }
                    i{
                        @include text($white,$textSize,1rem,1rem,100);
                    }
                }
                .nav-image{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content:center;
                    width: 100%;
                    height: 600px;
                    background-image: url('../image/hero.jpg');
                    background-position: center;
                    background-size: cover;   
                    background-repeat: no-repeat;
                    h1{
                        @include text($white,$textSize*1.5,2rem,5rem,100);
                        font-family:"roboto";
                        text-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
                    }
                    button{
                        width: 129px;
                        height: 40px;
                        @include text(#000000,$textSize,0rem,0rem,100);
                        margin-left: 12rem;
                        border:none;
                        outline: none;
                        border-radius: 0px 20px;
                        font-family:"roboto";
                        box-shadow: 2px 3px 2px rgba($color: #000000, $alpha: .3);
                    }
                }
            }
            
            
            /*end header*/
            
            
            /*start main part*/
            #main{
                width:68%;
                height: 2350px;
                background-color: $milky;
                .title{
                    @include text($gray,$textSize*1.5,1rem,0,100);
                    font-family:"rosario";
                    text-align: center;
                }
                .image-list{
                    width: 80%;
                    display: flex;
                    flex-direction:column;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 1rem auto;
                    .image-list-item{
                        width: 200px;
                        height: 250px;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        list-style: none;
                        background-position: center;
                        background-size: cover;
                        margin-bottom: 10px;
                        span{
                            @include text($white,$textSize*1.2,2rem,1rem,600);
                            font-family:"roboto";
                        }
                    }
                }
                .picture{
                    width: 85%;
                    height:300px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    background-image: url('../image/b.jpg'),linear-gradient(rgba(0,0,0,0.8),rgba(100,100,100,0.9)) ;
                    background-position: center;
                    background-size: cover;
                    margin:1.5rem auto;
                    h1{ 
                        @include text($light-gray,$textSize*1.5,0.3rem,2rem,900);
                        font-size:"roboto";
                    }
                    span{ 
                        @include text($light-gray,$textSize*0.5,0.3rem,2rem,900);
                        font-size:"roboto";
                    }
                    button{
                        width: 75px;
                        height: 30px;
                        margin:1rem 1.5rem;
                        font-family: roboto;
                        @include text($black,$textSize*0.5,0,0,100);
                        border: none;
                        outline: none;
                        border-radius: 15px; 
                        cursor: pointer; 
                    }
                }
                .card-container{
                    width:96%;
                    height: 400px;
                    margin:5px auto;
                    background-color: $milky;
                    .card-title{
                        @include text($light-gray,$textSize*1.5,2rem,2rem,100);
                        font-family:'rosario'
                    }
                    .card-list{
                        width: inherit;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 20px auto;
                        .card-list-item{
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                            list-style: none;
                            width: 240px;
                            height: 330px;
                            border: 1px solid #2C3A47;
                            position: relative;
                            .card-like{
                                width: 28px;
                                height: 28px;
                                border-radius: 100px;
                                position: absolute;
                                background-color: $white;
                                right: 5px;
                                top:5px;
                                cursor: pointer;
                                transition: all 1s ease ;
                                &:hover{
                                    background-color: $light-red;
                                }
                                i{
                                    line-height:28px;
                                    display: block;
                                    margin: 2px 3px;
                                    font-size: 20px;
                                }
                            }
                            .card-img{
                                width: 239px;
                                height: 250px;
                                border-bottom: 1px solid #2C3A47;
                                margin: 0 0;
                            }
                            .card-txt{
                                height: 77px;
                                text-align: center;
                                background-color: $light-yellow;
                                font-size: 1.5rem;
                                padding: 1rem;
                                font-family:"roboto";
                                
                            }
                        }
                    }
                }
            }
            
            /*end main part*/
            
            
            /*start footer part*/
            #footer{
                width: 68%;
                height: 200px;
                background-color:$milky;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .list-container{
                    width: 100%;
                    height: 50px;
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-top: 1px solid $light-blue;
                    .link-list{
                        width: 70%;

                        @include listStyle();
                        .link-list-item{
                            width:auto;
                            font-size: 1.7rem;
                            font-family: 'rosario';
                            font-weight: bold;
                            margin-top: 20px;
                            margin-right: 10px;
                            margin-left:5px ;
                            cursor: pointer;
                        }
                    }
                        .social-link-list{
                            width: 30%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            @include listStyle();
                            .social-link-item{
                                width:auto;
                                margin-top: 20px;
                                margin-right: 10px;
                                margin-left:2px ;
                                font-size: 1.8rem;
                                a{
                                    text-decoration: none;
                                    color:$light-blue;
                                    font-size: 1.5rem;
                                    font-family: 'rosario';
            
                                }
                                i{
                                    font-size: 2rem;
                                    color: black;
                                    cursor: pointer;
                                }
                            }
                    }
                  
                }
                .footer-txt{
                    font-family: "rosario";
                    font-size: 1.25rem;
                } 
                
            }
            
            
            /*end footer part*/
        }

